---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: 'EB Garamond', 'Lucida Grande', 'Open Sans', 'Yeseva One', 'Lucida Sans Unicode','Lucida Sans',Verdana,Tahoma,sans-serif;
$base-font-body:   'EB Garamond', serif;
$base-font-title:  'Vollkorn SC', serif;
$base-font-size:   20px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.175;
$base-line-height: 1.40em;

$spacing-unit:     30px;

$text-color:       #303336;
$background-color: #ffffff;
$brand-color:      #2474e5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    700px;
$on-palm:          300px;
$on-laptop:        640px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 1;
//         padding-left: $spacing-unit / 1;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
