<footer class="site-footer">
  <div class="wrapper">
<!--     <div class="footer-col"> -->
      Алексей Лобанов, iOS разработчик. Екатеринбург, Россия. <a class="page-link" href="http://lobanov-av.ru/about_en/">Информация и резюме</a>
<!--     </div> -->
  </div>
</footer>


<!-- {% for my_page in site.pages %}
<a class="page-link" href="http://lobanov-av.ru/about/">Рус</a>
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
 -->
