/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 22px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-headerarchive {
  text-align: center;
  line-height: 2.5em;
  position: relative; }

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 32px;
    font-family: $base-font-body;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: normal;
    color: #000;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #869aae;
  font-size: 1.1rem;
}

article img {
  max-width: 100%; }
article h3 {
  line-height: 1.2em;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .08em;
  text-decoration: none;}
article h4 {
  line-height: 1.4em;
  font-size: .65rem;
  text-decoration: none;
  text-align: center;
  color: #666;
  }

  article a:hover, .document a:hover {
    text-decoration: underline;
  }

.post-header {
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 30px;
  line-height: 2.5em;
  position: relative;
}
.post-header:after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background: #eee;
  position: absolute;
  border: 6px solid #fff;
  left: 50%;
  border-radius: 15px;
  margin-left: -9px;
  bottom: -9px;
}
.post-subheader {
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 1em;
  font-weight: 600;
  color: #000;
  margin-bottom: 15px;
}

/**
* Beauty work code
*/
.wordcode {
display: inline-block;
padding: 0 .333em;
margin-right: .1em;
font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Verdana,Tahoma,sans-serif;
font-size: 12.6px;
line-height: 1.333;
font-style: normal;
font-weight: normal;
color: #4f5e6d;
background: #f6f7f9;
border: 1px solid #bbc4ce;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-o-border-radius: 3px;
-ms-border-radius: 3px;
border-radius: 3px;
}

/**
* Code formatting
*/
pre,
code {
font-family: 'Lucida Grande','Lucida Sans Unicode','Lucida Sans',Verdana,Tahoma,sans-serif;
font-size: 12px;
border: 1px solid #e8e8e8;
border-radius: 5px;
background-color: #faf9f4; }

code {
padding: 1px 5px; }

pre {
padding: 8px 12px;
overflow-x: scroll; }
pre > code {
border: 0;
padding-right: 0;
padding-left: 0; }

/**
* meta
*/
.meta {
  font-size: 9px;
  line-height: 7em;
  text-decoration: none;
  text-align: center;
}
  .meta, .meta * {
    color: #a0a0a0; }
