@import "codeblock.css";
@import "timeline.css";
@import "image_pop.css";


.full-width-rounded-image {
    width: 100%;
    height: auto;
    border-radius: 13px;
    object-fit: cover;
}

/* Общие стили */
body {
    font-size: 15px;
    font: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #54433a;
    background-color: #fff;
}

/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Rubik", serif;
    font-weight: 700;
    margin: 0 0 5px;
    color: #54433a;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h1 {
    font-size: 28px;
}

h3,
h4,
h5,
h6 {
    color: #494949;
}

/* Параграфы и списки */
p {
    margin: 0;
}

ol,
ul {
    margin: 0 0 20px;
    padding-left: 25px;
}

/* Таблицы и блоки кода */
table,
pre,
dl {
    margin: 0 0 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
}

code,
pre {
    font-family:
        Victor Mono,
        Lucida Console,
        Terminal,
        Consolas,
        Liberation Mono,
        DejaVu Sans Mono,
        Courier New,
        monospace;
    font-size: 12px;
    color: #333;
}

pre {
    margin: 10px 0;
    padding: 8px 15px;
    background: #f6f4f2;
    border-radius: 5px;
    border: 1px solid #e5e5e5;
    overflow-x: auto;
}

/* Ссылки */
a {
    color: #267cb9;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #069;
    text-decoration: underline;
}

a small {
    font-size: 11px;
    color: #777;
    margin-top: -0.3em;
    display: block;
}

a:hover small {
    color: #777;
}

/* Структура страницы */
.wrapper {
    width: 600px;
    margin: 0 auto;
}

header,
footer {
    font-family: "Rubik", serif;
    width: 270px;
    float: left;
    -webkit-font-smoothing: subpixel-antialiased;
    margin-bottom: 20px;
}

section {
    width: 600px;
    float: right;
    padding-bottom: 50px;
}

/* Дополнительные элементы */
blockquote {
    border-left: 5px solid #909cab;
    border-radius: 5px;
    margin: 0;
    padding: 0 0 0 15px;
    color: #3e3b39;
}

dt,
th {
    color: #444;
}

img {
    max-width: 100%;
}

kbd {
    background-color: #fafbfc;
    border: 1px solid #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
    color: #444d56;
    display: inline-block;
    font-size: 11px;
    line-height: 10px;
    padding: 3px 5px;
    vertical-align: middle;
}

strong {
    color: #222;
    font-weight: 700;
}

small {
    font-size: 12px;
}

small.superscript {
    vertical-align: super;
}

hr {
    border: 0;
    background: #e5e5e5;
    height: 1px;
    margin: 0 0 20px;
}

/* Медиа-запросы */
@media print,
screen and (max-width: 600px) {

    .wrapper,
    header,
    section,
    footer {
        width: auto;
        float: none;
        position: static;
    }

    section {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }

    header a small {
        display: inline;
    }

    header ul {
        position: absolute;
        top: 52px;
    }

    body {
        word-wrap: break-word;
        font-size: 14px;
    }

    small {
        font-size: 11px;
    }

    pre,
    code {
        word-wrap: normal;
    }

    .bookmarks-bubble {
        font-size: 13px;
    }
}

@media (min-width: 601px) {
    .menu-container {
        width: 600px;
    }
}

@media print {
    body {
        font-size: 12pt;
        color: #444;
    }
}

/* Меню */
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f5f4;
    border-radius: 15px;
    padding: 10px 20px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 600px;
    width: calc(100% - 40px);
    z-index: 1000;
    box-sizing: border-box;
    border: 1px solid #e5e5e5;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.menu-icon {
    width: 34px;
    height: 34px;
    background-image: url("/assets/img/ava.jpeg");
    background-size: cover;
    border-radius: 50%;
}

.menu-nav {
    display: flex;
    gap: 8px;
}

.menu-nav a {
    text-align: center;
    text-decoration: none;
    color: #54433a;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    padding: 8px;
    border-radius: 15px;
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
    font-weight: bold;
}

.menu-nav a:hover {
    background-color: #e0e0e0;
    color: #54433a;
}

.container-two-columns {
    display: flex;
    gap: 20px;
    align-items: end;
    height: 30px;
}

/* Колонка для текста */
.content-two-columns {
    flex: 1;
    align-items: end;
}

.log-number {
    font-weight: bold;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    color: #5a463c;
}

/* Пузырь */
.bubble {
    position: relative;
    /* background-color: #f9f9f9; */
    background-color: #f6f5f4;
    color: #54433a;
    padding: 15px 18px;
    border-radius: 15px;
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    margin: 20px 0;
    border: 1px solid #f6f6f6;
}

.bubble.transparent {
    background-color: transparent;
}

.bubble.yellow {
    background-color: rgba(238, 172, 16, 0.05);
    /* EEAC110D */
    border: 1px solid #f6f5f4;
}

.bubble.purple {
    background-color: rgba(87, 17, 238, 0.05);
    /* 5711EE0D */
    border: 1px solid rgba(87, 17, 238, 0.08);
}

.bubble.blue {
    background-color: rgba(17, 91, 238, 0.05);
    /* 115BEE0D */
    border: 1px solid rgba(17, 91, 238, 0.08);
}

.bubble.red {
    background-color: rgba(238, 17, 57, 0.05);
    /* EE11390D */
    border: 1px solid rgba(238, 17, 57, 0.08);
}

.bookmarks-container {
    column-count: 2;
    column-gap: 10px;
    column-fill: balance;
}

.bookmarks-bubble {
    background-color: #f9f9f9;
    color: #54433a;
    padding: 15px 20px;
    border-radius: 15px;
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border: 1px solid #f6f6f6;
}

.bookmarks-bubble.dimmed {
    opacity: 0.3;
    transform: scale(0.95);
}

.bubble h1,
.bubble h2,
.bubble h3,
.bubble h4,
.bubble h5,
.bubble h6 {
    color: inherit;
    margin: 0 0 10px;
}

.badge {
    position: absolute;
    top: -16px;
    right: 10px;
    background-color: #f6f5f4;
    color: #333;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: normal;
    white-space: nowrap;
}

.badge img,
.badge span {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

/* Статья */
article {
    margin: 90px 10px 0;
}

.article-title {
    margin: 0;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.1;
}

/* Теги */
.tag {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #eae1db;
    color: #1a1a1a;
    font-family: "Victor Mono", sans-serif;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 6px;
    margin: 4px 10px 0 0;
    font-size: 12px;
    white-space: nowrap;
}

.tag img,
.tag span {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.tag:last-child {
    margin-right: 0;
}

.tag.small {
    font-size: 11px;
    padding: 3px 8px;
    margin-right: 5px;
}

.tag:hover {
    background-color: #dcd0c6;
}

/* Пользовательский счетчик */
ol.custom-counter {
    counter-reset: item;
    list-style: none;
    padding-left: 0;
}

ol.custom-counter>li {
    counter-increment: item;
    margin-bottom: 20px;
    position: relative;
    padding-left: 25px;
}

ol.custom-counter>li::before {
    content: counter(item);
    font-size: 20px;
    font-weight: bold;
    color: #996767;
    position: absolute;
    left: 0;
    top: 0;
}

/* Стиль для кода в тексте */
.wordcode {
    background-color: #f2e9e1;
    color: #5a4635;
    padding: 1px 4px;
    border-radius: 4px;
    border: 1px solid #e0d3c9;
    font-family: "Victor Mono", "Courier", monospace;
    font-size: 12px;
    display: inline-block;
}

.spacer {
    height: 10px;
}

/* Разделитель года */
.year-divider {
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    color: #5a463560;
    text-align: center;
    font-weight: bold;
}

/* Разделитель месяца */
.month-divider {
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    color: #5a463557;
    font-weight: bold;
    text-align: center;
}

/* @media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }

    header {
        background-color: #1f1f1f;
        color: #eeeeee;
    }

    nav {
        background-color: #2a2a2a;
    }

    nav a {
        color: #00aaff;
    }

    nav a:hover {
        text-decoration: underline;
    }

    main {
        background-color: #1c1c1c;
    }

    footer {
        background-color: #1f1f1f;
        color: #aaaaaa;
    }
} */

button {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #eae1db;
    color: #1a1a1a;
    font-family: "Victor Mono", sans-serif;
    font-weight: 600;
    font-size: 10px;
    white-space: nowrap;
    border-radius: 6px;
    border: 1px solid #d6cbc3;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    padding: 3px 8px;
    margin: 4px 10px 0 0;
}

button:hover {
    background-color: #d6cbc3;
    /* Меняем цвет фона при наведении */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(234, 225, 219, 0.5);
    /* Добавляем мягкий фокус */
}

button:disabled {
    background-color: #f2ece7;
    color: #b1a8a1;
    cursor: not-allowed;
    border-color: #e0d8d2;
}


/* 
EEAC110D yellow
5711EE0D purple
115BEE0D blue
EE11390D red
*/