---
layout: default
title: "Games"
permalink: /logs/game/
---

<h1>{{ page.title }}</h1>

{% include log_category_list.html %}

<div class="bubble">
    🍄 Games I’ve played, rated from 0 to 5, with a brief note on each. The most memorable ones are marked with a 🔥
</div>

{% assign items = site.logs | where: "category", "game" | sort: 'date' | reverse %}
{% for item in items %}
<div class="bubble">
    {{ item.content | markdownify }}
    <small><b>{{ item.date | date: "%-d %B %Y" }}</b></small>
</div>
{% endfor %}