---
layout: default
title: "Locations"
permalink: /logs/location/
---

<h1>{{ page.title }}</h1>

{% include log_category_list.html %}

<div class="bubble yellow">
    🌏 Places I've visited with a brief note about each. <br />
    <b>Countries visited:</b> 🇷🇺 Russia, 🇮🇹 Italy, 🇹🇷 Turkey, 🇷🇸 Serbia, 🇪🇸 Spain, 🇸🇦 United Arab Emirates,
    🇸🇬 Singapore, 🇹🇭 Thailand, 🇫🇷 France, 🇱🇻 Latvia, 🇲🇾 Malaysia, 🇩🇪 Germany, 🇲🇨 Monaco, 🇨🇿 Czechia,
    🇫🇮 Finland, 🇸🇪 Sweden.
</div>

{% assign current_month = "" %}
{% assign current_year = "" %}

{% assign items = site.logs | where: "category", "location" | sort: 'date' | reverse %}
{% for item in items %}
{% include date_dividers.html
date=item.date
current_year=current_year
current_month=current_month
%}

<div class="bubble">
    {{ item.content | markdownify }}
    {% assign reversed_index = forloop.length | minus: forloop.index | plus: 1 %}

    <div class="container-two-columns">
        <div class="content-two-columns">
            <span class="log-number"><a href="{{ item.url }}">#{{ reversed_index }}</a></span>/<small><b>{{ item.date |
                    date: "%-d %B %Y" }}</b></small>
        </div>
        {% if item.images %}
        <div class="image-preview">
            {% for image in item.images %}
            <img src="/assets/img/{{ item.category }}/{{ image }}" alt="{{ item.title }} Preview" class="thumbnail"
                onclick="openModal('/assets/img/{{ item.category }}/{{ image }}')" />
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

<div class="spacer"></div>
{% endfor %}