---
layout: default
title: "Locations"
permalink: /logs/location/
---

<h1>{{ page.title }}</h1>

{% include log_category_list.html %}

<div class="bubble">
    🌏 Places I’ve visited with a brief note about each
</div>

{% assign items = site.logs | where: "category", "location" | sort: 'date' | reverse %}
{% for item in items %}
<div class="bubble">
    {{ item.content | markdownify }}
    <div class="container-two-columns">
        <div class="content-two-columns">
            <small><b>{{ item.date | date: "%-d %B %Y" }}</b></small>
        </div>
        {% if item.images %}
        <div class="image-preview">
            {% for image in item.images %}
            <img src="/assets/img/{{ item.category }}/{{ image }}" alt="{{ item.title }} Preview" class="thumbnail"
                onclick="openModal('/assets/img/{{ item.category }}/{{ image }}')" />
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endfor %}